@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.custom-img {
  background-image: url('https://media.istockphoto.com/id/1149700062/photo/cirrus-clouds-in-a-blue-sky.jpg?s=612x612&w=0&k=20&c=R0jyT7rKQGXS9YZPr45Q_hCy-rDbrTTzK77Kzn_NL7I=')
}